@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: #F0F1F1;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
nav
{
  background-color: white;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a
{
  text-decoration: none;
  color: black;
}
nav h1
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #204E51;
}
nav ul
{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 25%;
}
nav ul a
{
  text-decoration: none;
  color: #204E51;
}
nav ul li
{
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 20px;
    height: 3px;
    background-color: #204E51;
    margin: 4px 0;
    transition: 0.3s;
}

.navbar-links
{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.navbar-links ul
{
  width: 50%;
}
.nav-buttons
{
  display: flex;
  gap: 2vw;
}
.nav-buttons a , .nav-buttons button
{

  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  height:6vh;
  width: 8vw;
  border-radius: 10px;
  border: none;
  font-size:  1rem;
}
#contact-us
{
  background-color: #204E51;
  color: white;
}
#locate-us
{
  background-color: white;
  color: #204E51;
  border: 2px solid #204E51;
}

/* SECTION 1 */
.main 
{
  background: linear-gradient( rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.585) ), url('./assets/chemical.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100vw;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main h1 ,.main2 h1
{

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;

  color: white;
  width: 75%;
  text-align: center;
  height: auto;
}
.main p , .main2 p
{
  text-align: center;
  width: 60%;
  color: white;

  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.main-buttons
{
  display: flex;
  gap: 2vw;
}

.main-buttons a, .main-buttons button
{
  height: 6vh;
  width: 10vw;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
}

#get-started
{
  background-color: #204E51;
  color: white;
}

#learn-more
{
  background-color: transparent;
  border:1px solid white;
  color: white;
}

.company-details
{
  margin-top: 3vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 5vh;
}
.company-details h1
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 3rem;
  color: #204E51;
}
.company-details p
{
  
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  width: 60%;
  text-align: center;
}
.card-cont
{
  width: 90%;
  padding: 2%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.slider-button
{
  display: none;
}
.card
{
  background-color: #FFFF;
  border-radius: 10px;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, -0.8), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img
{
  height:200px;
}
.card h2
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 1.5rem;
  color: #204E51;
}
.card h3
{
  font-size: 1rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main2
{
  background: linear-gradient( rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.585) ), url('./assets/chemical2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100vw;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh
}

.dealer-cont
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dealer-div
{
  background-color: #F0F1F1;
  border-radius: 50px;
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
.dealer-div h2{
  font-size: 1.25rem;
  padding: 2vh;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}
.dealer-div img
{
  height: 200px;
}
.dealer-info{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}
.dealer-div ul
{
  list-style: none;
}
.dealer-div ul li{
  font-size: 1rem;
}
.product-details
{
  height: auto;
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  align-items: center;
}
.product-details h1
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 3rem;
  color: #204E51;
}
.product-details p
{
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  text-align: center;
}
.products-cont
{
  width: 90%;
  padding: 2%;
  /* border: 3px dashed #204e516e; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  row-gap: 15px;
}
.product-card
{
  background-color: #FFFF;
  border-radius: 10px;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, -0.8), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  height: 60vh;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card img
{
  height:200px;
}
.product-card h2
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 1.75rem;
  color: #204E51;
}
.product-card h3
{
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.product-details a
{
  color: #204E51;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}
footer
{
  background-color: #204E51;
  height: 70vh;
  margin-bottom: 10vh;
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: space-between;
}
.footer-comp-details
{ color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.footer-comp-details h1
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 2.25rem;
}
.footer-comp-details p
{
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.footer-link-lists
{
  padding: 2%;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link-lists ul
{
  list-style: none;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer-link-lists h1
{
  color: #FFFF;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 2rem;
}
.footer-link-lists ul li a
{
  text-decoration: none;
  font-size: 1.1rem;
  color: #F0F1F1;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* PRODCUCT PAGE */

.product-descp,.product-descp-even
{
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-descp-even
{
  display: flex;
  flex-direction: row-reverse;
  background-color: #204E51;
}
.product-text,.product-text-even
{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-evenly;
  align-items: center;
}

.product-text p ,.product-text-even p
{
  text-align: center;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.product-text h1,.product-text-even h1
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 3rem;
  background-color: white;
  color: #204E51;
  height: 8vh;
  width: 80%;
  text-align: center;
  border-radius: 15px;

}
.product-name,.product-name-even{

  position: relative;
  width: 35%;
  height: 80%;
}
.mv-product-name{
  display: none;

}
.product-name button ,.product-name-even button{
  position: absolute;
  height: 10vh;
  width: 30%;
  margin-left: 35% ;
  margin-top: 85%;
  border: 5px solid #204E51;
  background-color: white;
  font-size: 2rem;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
}
.product-name button  a , .product-name-even button a{
  text-decoration: none;
  color: #204E51;
}
.product-name img ,.product-name-even  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, -0.8), 0 1px 10px 0 rgba(0, 0, 0, 0.19);

}

.product-attribute ,.product-attribute-even
{
  height: 100%;
  width: 90%;
  padding: 1%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.attr ,.attr-even
{
  background-color: white;
  width: 90%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 15%;
}
#key,#key-even
{
  background-color: #204e51ba;
  color: white;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  border-top-left-radius: 15px;
  border-bottom-left-radius:15px ;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 720;
  font-style: normal;
  font-size: 2rem;
}
#key-even
{
  background-color: white;
  color: #204E51;
}
#value,#value-even
{
  margin-left: 5%;

  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  color: #204E51;
  font-size: 1.75rem;
  font-style: normal;
}
#value-even
{
  background-color: #204e51ba;
  color: white;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left:5% ;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.contact-cont
{
  background-color: #ffffff;
  height: 80vh;
  width:85vw;
  margin-top: 2.5vh;
  margin-left: 7.5vw;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
  display: flex;
  gap: 1%;
}
.contact-address{
  background-color: #204E51;
  background-size: 100% ;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-address h1
{
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  color: white;
  font-size: 1.75rem;
  font-style: normal;
}
.contact-address h2
{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: white;
}
.contact-details
{
  padding: 10px;
  height: 80%;
  margin-top: 5vh;
}
.contact-details ul
{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  font-size: 2em;
}
.contact-details ul li
{
  font-family: 3rem;
  display: flex;
  gap: 2vw;
}
.contact-details ul li h3
{
  font-size: 0.85em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.contact-form
{
  height: 100%;
  width: 69%;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.contact-form form
{
  width: 80%;
  height: 80%;
  padding: 10px;
}
.consumer-personal-details , .consumer-contact-details
{
  display: flex;
  height: 10vh;
  gap: 2vh;
}
.form-elements
{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.form-elements label
{
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#204E51;
}
.form-elements input
{
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #204E51;

  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#204E51;
}
#contct-form-button
{
  background-color: #204E51;
  height: 8vh;
  width: 12vw;
  border: none;
  border-radius: 10px;
  margin-left: 33vw;
  margin-top: 10vh;

  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#ffffff;
}



.about-us-section
{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-cont
{
  width: 80%;
}
.about-us-cont ul
{
  width: 80%;
  margin-left: 2vw;
}
.about-us-cont h3 , li
{
  margin-top: 2vh;
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #11292b;
  font-style: normal;
}
.about-us-cont p
{
  margin-top: 2vh;
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #11292b;
  font-style: normal;
}
#about-us-heading
{
  height: 15vh;
  width: 95%;
  margin-top: 1vh;
  font-size: 5rem;
  padding-left: 1vw;
  border-bottom:  3px solid #204E51;

  color: #204E51;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
#about-us-small-heading
{
  height: 6vh;
  width: 80%;
  margin-top: 4vh;
  font-size: 2rem;

  color: #204E51;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
.about-us-final
{
  border-top: 1px solid #204E51;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 80%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 2vh ;
  justify-content: center;

  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #11292b;
  font-style: normal;
}



/* DROP DOWN  */
#dropdown-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#204E51;
}

.custom-select-container {
  position: relative;
  width: 100%;
}

.mv-form-header
{
  display: none;
}
#dropdown-input {

  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#204E51;

  width: 100%;
  padding: 10px;
  border: 0.25px solid #11292b;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;


}

.custom-select-container::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  outline: none;
}

#dropdown-input:focus
{
  outline: none;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  z-index: 1;
}

.options div {
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:#204E51;
}

.options div:hover {
  background-color: #ddd;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
@media (max-width: 768px) {
  nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 1;
  }
  .brand-title ,.toggle-button
  {
    position: fixed;
  }
  .toggle-button
  {
    margin-left: 85vw;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    height:25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-links ul li {
    color: white;
  }
  .nav-buttons
  {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-buttons button
  {
    height: 100%;
    width: 100%;
  }
  .nav-buttons a
  {
    width: 30%;
  } 
  #contact-us
  {
    background-color: white;
    color: #204E51;
    border: 2px solid #204E51;
  }
  .toggle-button {
      display: flex;
  }

  .navbar-links.active {
      display: flex;
      flex-direction: column;
      background-color:#204E51;
      color: white;
      height: 40vh;
      width: 100vw;
      position: relative;
      margin-top: 50vh;
    }
  /* SECTION 1 */
  .main
  {
    padding-top: 7vh;
    height: 100%;
    width: 100%;
  }
  .main h1
  {
    font-size: 2rem;
  }
  .main p{
    font-size: 1rem;
  }
  .main-buttons
  {
    width: 60vw;
    display: flex;
    justify-content: space-around ;
  }
  .main-buttons a, .main-buttons button
  {
    width: 90%;
  }
  .company-details{
    height: auto;
  }
  .card-cont{
      padding:20px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
  }
  .card
  {
    height:48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card h2
  {
    font-size: 1.15rem;
  }
  .card h3
  {
    font-size: 0.75rem;
  }
  .main2 {
    height: auto;
    padding-bottom: 10vh;
  }
  .dealer-cont{
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .dealer-div img{
    height: 100px;
  }
  .dealer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    height: 50%;
    width: 80%;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .dealer-info{
    height: 60%;
    width: 80%;
  }
  .dealer-info h2
  {
    font-size: 1.05rem;
  }
  .dealer-info ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dealer-info ul li{
    font-size: 1rem;
  }
  /* PRODUCTS SECTION*/
  .product-descp 
  {
    padding-top: 17vh;
    height: 100%;
    width: 100%;
  }
  .product-details
  {
    height: auto;
  }
  .mv-product-name{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    margin-top:22%;
    margin-left: 12%;
    width: 80%;
  
    border: 3px solid #204E51;
    background-color: white;
    font-size: 1rem;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 720;
    font-style: normal;
  }
  .product-details h1
  {
  font-size: 2rem;
  width: 80%;
  text-align: center;
  }
  .products-cont
  {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
  }
  .product-card
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .product-card h2
  {
    text-align: center;
  } 
  .product-card img
  {
    height: 200px;
  }

  /* FOOTER */
  footer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-comp-details
  {
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
  }
  .footer-comp-details h1
  {
    font-size: 2rem;
    text-align: center;
  }
  .footer-comp-details p{
    font-size: 0.75rem;
    width: 80%;
    text-align: center;
  }
  .footer-link-lists
  {
    margin-left: 0vw;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-link-lists ul
  {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-section
  {
    height:auto;
    width: 100%;
    padding-top: 12vh;
    padding-bottom: 5vh;
  }
  #about-us-heading
  {
    font-size: 3rem;
    height: auto;
  }
  #about-us-small-heading
  {
    font-size: 1.5rem;
  }
  .about-us-final
  {
    margin-top: 5vh;
    padding-top: 1vh;
    height: auto;
  }

  /* PRODUCTS PAGE  */
  .product-descp
  {
    display: flex;
    height:100%;
    width: 90%;
    padding-top: 20vh;
    padding-bottom: 5vh;
    flex-direction: column-reverse;
  }
  .product-descp-even
  {
    display: flex;
    height:90%;
    width: 100%;
    padding-top: 12vh;
    padding-bottom: 5vh;
    flex-direction: column-reverse;
  }
  .product-text , .product-text-even
  {
    width: 100%;
    height: 60%;
  }
  .product-text h1 ,.product-text-even h1
  {
    font-size: 1.5rem;
    height: auto;
  }
  .product-name ,.product-name-even
  {
    width: 80%;
    padding-bottom: 5vh;
  }
  .product-name img,.product-name-even img
  {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .product-name button ,.product-name-even button{
    font-size: 1rem;
    height: 10%;
    margin-top: 55vh;
    border: 2px solid #11292b;
  }
  .attr ,.attr-even
  {
    width: 100%;
  }
  #key,#value , #key-even , #value-even
  {
    font-size: 1rem;
  }

  /* CONTACT PAGE  */
  .contact-cont
  {
    height: auto; 
    margin-top:12vh;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .contact-address
  {
    width: 100%;
  }
  .contact-details
  {
    height: 35%;
  }
  .contact-details ul{
    height: 100%;
    display: flex;
    gap: 1vh;
  }
  .contact-form
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .mv-form-header
  {

    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 5vh;
    font-style: normal;
    font-size:2rem;
    color: #204E51;
    margin-top: 2vh;
  }
  #form
  {
    width: 100%;
  }
  #form button{
    width: 30vw;
    margin-left: 35%;
  }
}